.downloadButton {
    text-decoration: none;
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 80px;
}