.content1 {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.content2{
    width: 50%
}
.content2 div:first-child {
    margin-bottom: 10px;
    font-size: 14px
}

.title {
    margin-bottom: 20px;
    font-weight: bold;
}
.author {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 80%;
}
.icon {
    width: 20px;
    margin-right: 5px;
}
.view {
    display: flex;
}
.content2 div:nth-child(5){
  font-size: 14px;
}
.content2 div:nth-child(6){
    margin-top: 10px;
    display: flex;
}
.share {
    width: 10%;
}
.social {
    width: 30%;
}